header.global-header
  .keyart#js-keyart
  .logos
    h1: img(src="img/logo.png", alt="iAiA")
    a#js-hero-cta(href='/login') START
  p Cthulu TRPG Supporter
  ul.sns-list
    li: a(href="https://twitter.com/iAiAapp" target="_brank")
      include img/sns-twitter.svg
    li: a(href="https://github.com/psephopaiktes/iAiA" target="_brank")
      include img/sns-github.svg

section.js-reveal.free
  h2 無料の<br>TRPGサポートアプリ
  include img/keyart.svg
  p iAiAは『クトゥルフ神話TRPG』を遊ぶときに役立つサポートアプリです。難しいイメージがあるTRPGを、誰でもかんたんに遊べるよう作成されました。

section.js-reveal.cross-device
  h2 どのデバイスでも<br>いますぐ使える
  picture
    source(srcset="img/sp/cross-device.png" media="(max-width: 480px)")
    img( src="img/pc/cross-device.png" alt="PC、スマートフォンでの使用イメージ")
  p ブラウザ上で動くWebアプリだから、パソコン・スマートフォン・タブレットでいますぐに利用できます。PWA技術に対応しているので、ダウンロードしてアプリとして使用することも可能。

section.js-reveal.tools-free
  h2 ダイスも<br>キャラクターシートも<br>必要ありません
  p プレイヤーとストーリーさえ揃えばすぐにセッション開始。キャラクター作成もあっという間です。

//- section.js-reveal.book
//-   h2 公式ルールブックの<br>最新版に対応
//-   picture
//-     source(srcset="img/sp/book.jpg" media="(max-width: 480px)")
//-     img( src="img/pc/book.jpg" alt="新クトゥルフ神話TRPG ルールブック")
//-   p iAiAはケイオシアム社の公式ルールに準拠して作成されています。令和1年に発売された「新クトゥルフ神話TRPG ルールブック」に対応ずみです。
//-   p: a(href="https://amzn.to/39DU9ta" target="_brank"): i 画像出典: サンディ・ピーターセン, ポール・フリッカー, ほか (2019). 新クトゥルフ神話TRPG ルールブック KADOKAWA

footer.global-footer
  h2: include img/logo-short.svg
  ul.link-list
    li: a(href="/other/help") あそびかた
    li: a(href="https://twitter.com/iAiAapp" target="_brank") Twitter
    li: a(href="https://github.com/psephopaiktes/iAiA" target="_brank") GitHub
  p.copyright: small © iAiA
  a#js-fix-cta.fix-cta(href='/login')
    span START
    include img/play_arrow.svg
