head(prefix='og: http://ogp.me/ns#')

  meta(charset='utf-8')
  title iAiA | クトゥルフTRPGサポーター
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(rel='icon' type='image/png' href='https://iAiA.app/img/favicon.png')
  meta(name='description' content='クトゥルフ神話TRPGをサポートするアプリです。スマホがあればダイスもキャラクターシートも必要ありません。完全無料。')
  meta(name='theme-color' content='#002233')

  // CSS・JS
  script(src="js/index.ts", defer)
  link(rel="stylesheet", href="css/style.scss")

  // OGP
  meta(property='og:type' content='game')
  meta(property='og:title' content='iAiA | クトゥルフTRPGサポーター')
  meta(property='og:site_name' content='iAiA')
  meta(property='og:description' content='クトゥルフ神話TRPGをサポートするアプリです。スマホがあればダイスもキャラクターシートも必要ありません。完全無料。')
  meta(property='og:image' content='https://iAiA.app/img/ogp.png')
  meta(property='og:url' content='iAiA.app')
  meta(property='og:locale' content='ja_JP')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:site' content='@iAiAapp')

  // CSS for Loading
  style.
    .global-header{
      opacity: 0;
      animation: fadeIn .6s ease-out forwards;
    }
    @keyframes fadeIn {
      from {opacity: 0}
      to {opacity: 1}
    }
